*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.row{
	max-width: 1140px;
}

h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h6 {
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
	margin-left: 550px;
	margin-bottom: 30px;
}

.btn-group-lg > .btn,
.btn-lg {
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
	margin-left: 710px;
	background-color: #28a745;
}
.jumbotron {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: white;
	border-radius: .3rem;
	margin-top: 160px;
}
.bg-primary {
	background-color: #28a745 !important;
	height: 70px;
	/* color: lawngreen; */
}
.foot {
	margin-top: 303px;
}
.animated.delay-1s {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	font-family: cursive;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
	color: #fff;
	/* float: right; */
	margin-left: 1250px;
}
img {
	height:286px;
	width:180px;	
}
.imageThumbnail{
	margin-top:2%;
}
.uploadForm{
   margin-top:3%;
}

#rec {
    position: absolute;
    left: 150px;	
}
#results {
	visibility: hidden;
}
